<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication.myandroiddemo">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".myApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SqlLiteActivity" />
        <activity android:name=".activity.HorizontalListViewActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.ExpandableTextViewActivity" />
        <activity android:name=".activity.SpannableStringBuilderActivity" />
        <activity android:name=".activity.NestedScrollingActivity" />
        <activity android:name=".activity.ImmersiveActivity" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NavigationDrawerctivity"
            android:label="@string/title_activity_navigation_drawerctivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ImmersiveActivity" />
        <activity android:name=".activity.DiyViewActivity" />
        <activity android:name=".activity.WatchActivity" />
        <activity android:name=".activity.JsoupActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".activity.MyGame2048Activity"></activity>
    </application>

</manifest>